<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.12.0.0" newVersion="3.12.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <appSettings>
      <!--<add key="Browser" value="Developement"/>-->
      <!--<add key="Browser" value="Firefox"/>-->
      <!--<add key="Browser" value="InternetExplorer"/>-->
      <add key="Browser" value="Chrome" />
      <add key="ImplicitTimeOut" value="30" />
      <add key="PageLoadTimeout" value="60" />
      <add key="replaceExisting" value="true" />
      <add key="logFolder" value="C:\Logs\" />
      <add key="createNewLogFolder" value="true" />
      <add key="displayOrder" value="OldestFirst" />
      <add key="FlushReport" value="Default"/>
    </appSettings>
  </runtime>
</configuration>